/* 
    Custom stylesheet for akmalzamel.xyx
*/

/* Colour pallete */
:root {
    --yellow: #e1ad01;
    --green: #007580;
    --light-green: #D8EBE4;
    --dark-blue: #282846;
    --light-grey: #cccccc;
    --dark-grey: #495057;
}

/* Page layout */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    align-items: center;
    background: var(--light-green);

}

.breathe {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Font styling */
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gowun Dodum', sans-serif;
}

.mono {
    font-family: 'Advent Pro';
}

.dark-text {
    color: var(--dark-grey);
}

.dark-text a {
    color: var(--light-green);
}

.dark-text a:hover {
    color: var(--green);
}

.light-text {
    color: var(--light-grey);
}

.light-text a {
    color: var(--light-grey);
}

.light-text a:hover {
    color: var(--green);
}

/* Custom Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--green) var(--dark-blue);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-blue);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
    border: 3px solid var(--dark-blue);
}

/* Particle-js */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Jumbotron sections */
.jumbotron {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.jumbotron.inset-shadow {
    box-shadow: inset 0px 5px 10px -6px;
}

.jumbotron.jumbotron-header {
    background: var(--dark-blue);
}

.jumbotron.jumbotron-about {
    background: var(--green);
}

.jumbotron.jumbotron-skill {
    background: whitesmoke;
}

.jumbotron.jumbotron-experience {
    background: var(--light-green);
}

.jumbotron.jumbotron-education {
    background: whitesmoke;
}

.jumbotron.jumbotron-github {
    background: var(--dark-blue);
}

.jumbotron.jumbotron-contact {
    background: var(--light-green);
}

/* Glass card */
.glass {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(100%) contrast(105%) brightness(130%);
    overflow: hidden;
    position: relative;
}

.glass.shadow {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.glass.shadow-on-white {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

/* Image styling */
.img-round {
    border-radius: 50%;
}

.img-shadow {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0 rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Fade in animation */
.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        bottom: -30px;
    }

    40% {
        opacity: 0;
        visibility: hidden;
        bottom: -30px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        bottom: 0px;
    }
}

/* Github activity feeds */

#github-feed.scroll {
    max-height: 424px;
    overflow-y: auto;
}

#github-feed .list-group-item {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: var(--light-grey);
    background-color: transparent;
}

#github-feed a {
    text-decoration: none !important;
}

#github-feed .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    font: normal normal 16px octicons;
}

#github-feed .gaf-message {
    display: inline-block;
    width: 100%;
}

#github-feed .gaf-message-commits {
    font-weight: 100;
    font-size: 0.8rem;
}

#github-feed .gaf-message-merge {
    padding: 3px 7px;
    border-radius: 3px;
    background: var(--green);
    color: var(--light-grey);
    line-height: 2.0;
}

#github-feed .sml-text {
    font-weight: 100;
    font-size: 0.8rem;
}

#github-feed small {
    font-weight: 100;
    font-size: 0.8rem;
}

#github-feed .gaf-sha {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#github-feed .gaf-gravatar-small {
    float: left;
    margin-right: 6px;
    width: 52px;
    border-radius: 50%;
}

#github-feed ul.commits {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Timeline List */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1rem;
    padding-right: 0rem;
}

@media (min-width: 768px) {
    ul.timeline {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

ul.timeline:before {
    content: ' ';
    background: var(--dark-blue);
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 2px;
    height: 100%;
    z-index: 3;
}

ul.timeline>li {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

ul.timeline>li>h5 {
    padding-left: 0rem;
}

ul.timeline>li a {
    color: var(--dark-grey);
    text-decoration: none !important;
}

ul.timeline>li:before {
    content: ' ';
    background: var(--light-green);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--dark-blue);
    left: -9px;
    width: 20px;
    height: 20px;
    z-index: 4;
}

ul.timeline .glass {
    padding: 0;
    margin: 0;
}

ul.timeline>li .glass>a .fa {
    transition: .3s transform ease-in-out;
}

ul.timeline>li .glass>a.collapsed .fa {
    transform: rotate(90deg);
}

/* Badge */
.badge {
    font-weight: 100;
    font-size: 90%;
}

.badge.badge-primary {
    background-color: var(--green);
}

/* Button */
.button-pdf {
    position: fixed;
    background: var(--yellow);
    width: 40px;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.nounderline {
    text-decoration: none !important
}