/* Colour pallete */
:root {
    --yellow: rgba(225, 173, 1, 0.6);
    --green: #007580;
    --dark-blue: #282846;
    /* --dark-blue: #22272E; */
    --light-blue: #D8EBE4;
    --light-grey: #cccccc;
}

/* Page layout */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    align-items: center;
    /* background: #e0e0e0; */
    background: var(--dark-blue);
    font-family: 'Advent Pro';
}

main {
    height: 100%;
}

#content {
    width: 100%;
    max-width: 300px;
    padding: 15px 0px;
    margin: auto;
}

@media (min-width: 300px) {
    #content {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    #content {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    #content {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    #content {
        max-width: 900px;
    }
}

/* Font colour */
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
    padding: 0;
    margin: 0;
    color: var(--light-grey);
}

/* Particle-js */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/* Orbit balls (no longer used) */
.orbit-balls {
    position: relative;
}

.orbit-balls:before,
.orbit-balls:after {
    animation: orbit 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    content: '';
    height: 150px;
    position: absolute;
    width: 150px;
}

.orbit-balls:before {
    background: #ffe897;
    background: -moz-radial-gradient(top right, #ffe897, #f98a05);
    background: radial-gradient(to bottom left, #ffe897, #f98a05);
    background: -webkit-radial-gradient(top right, #ffe897, #f98a05);
    z-index: -2;
}

.orbit-balls:after {
    animation-delay: 2.5s;
    background: #e0e793;
    background: -moz-radial-gradient(bottom right, #e0e793, #6dd0f1);
    background: radial-gradient(to top left, #e0e793, #6dd0f1);
    background: -webkit-radial-gradient(bottom right, #e0e793, #6dd0f1);
    right: 0;
    top: 0;
    z-index: -2;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

/* Glass card */
.glass {
    padding: 15px;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.glass:before {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(100%) contrast(105%) brightness(130%);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
}

/* Main column */
form {
    z-index: 2;
}

.round-photo {
    border-radius: 50%;

}

.shadow {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0 rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#my-links.list-group a {
    background-color: transparent;
}

#my-links.list-group a:hover {
    background-color: var(--yellow);
}

#my-links.list-group a .mouse-off {
    display: inline;
}

#my-links.list-group a .mouse-on {
    display: none;
}

#my-links.list-group a:hover .mouse-on {
    display: inline;
}

#my-links.list-group a:hover .mouse-off {
    display: none;
}

#my-links.list-group a.selected {
    background-color: transparent;
}

/* Fade out and fade in animation */
.fade-out {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    80% {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
        height: 0;
    }
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(10px) saturate(100%) contrast(105%) brightness(130%);
        bottom: -30px;
    }

    40% {
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(10px) saturate(100%) contrast(105%) brightness(130%);
        bottom: -30px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        backdrop-filter: blur(10px) saturate(100%) contrast(105%) brightness(130%);
        bottom: 0px;
    }
}
